<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
       *{
            margin:0;
            padding:0;
        }
        h1{
            color: red;
            background-color: pink;
            border: solid gray 5px;
        }
    </style>
</head>
<body class="bg-dark text-light" id="login">
   <div class="container">
    <h1 v-if="isLogin">i am nani</h1>
    <h1 v-else>i am chitti</h1>
    </div>
    <div>
        <template v-if="!isLogin">
            <h1>i am lokesh</h1>
            <h2>i love chitti</h2>
        </template>
        <template v-else>
            <h1>i am chitti</h1>
            <h1> i love nani</h1>
        </template>
    </div>
</body>
<script>
    Vue.createApp({
        data(){
            return{
                isLogin:true  
            }
        }
    }).mount("#login");
</script>
</html>